
{% extends 'post_food/base.html'%}


  {% block body %}

    <!-- Hero Section-->
{% load static %}
<section
        style="background: url({% static '/img/nasa.jpg'%}); background-size: cover; background-position: center center"
        class="hero" xmlns="http://www.w3.org/1999/html">
      <div class="container">
        <div class="row">
          <div class="col-lg-7">
            <h1>Welcome ... </h1><a href="#" class="hero-link">Discover More</a>
          </div>
        </div><a href=".intro" class="continue link-scroll"><i class="fa fa-long-arrow-down"></i> Scroll Down</a>
      </div>
    </section>
    <!-- Intro Section-->
    <section class="intro">
      <div class="container">
        <div class="row">
          <div class="col-lg-8">
            <h2 class="h3">Some great intro here</h2>
            <p class="text-big">Place a nice <strong>introduction</strong> here <strong>to catch reader's attention</strong>. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderi.</p>
          </div>
        </div>
      </div>
    </section>
    <section class="featured-posts no-padding-top">
      <div class="container">
        <!-- Post-->
        {% for object in object_list %}
        <div class="row d-flex align-items-stretch">
            {% if not forloop.first and not forloop.last %}
            <div ><a href="{{ object.get_absolute_url }}"><img src="{{ object.thumbnail.url}}" alt="..." width="340" height="400" style="margin-left:30px; margin-right:0px"></a></div>
            {% endif %}


          <div class="text col-lg-7">
            <div class="text-inner d-flex align-items-center">
              <div class="content">
                <header class="post-header">
                  <div class="category">
                    {% for cat in object.categories.all %}
                      <a href="{{ cat.get_absolute_url}}">{{ cat.title }}</a>
                    {% endfor %}

                    <a href="{{ object.get_absolute_url }}">
                    <h2 class="h4">{{ object.title }}</h2></a>
                  </div>
                </header>
                  <p ><a href="{{ object.get_absolute_url }}">{{object.content|linebreaks|truncatechars:300}}</a></p>
                   <a href="{{ object.get_absolute_url }}" class="btn btn-primary"> Continue Reading </a>
                <footer class="post-footer d-flex align-items-center"><a href="{% url 'user-posts' object.author %}" class="author d-flex align-items-center flex-wrap">


          {% load static %}
                    <div class="avatar"><img src="{{ object.author.profile.profile_pic.url }}" alt="..." class="img-fluid"></div>
                    <div class="title" ><span>{{object.author.first_name}} {{object.author.last_name}}</span></div></a>
                  <div class="date"><i class="icon-clock"></i> {{object.date_posted|timesince}} ago </div>
                    <div class="views"><i class="icon-eye"></i> {{ object.view_count}}</div>
                  <div class="comments"><i class="icon-comment"></i>#</div>

                </footer>
              </div>
            </div>
          </div>
            {% if forloop.first or forloop.last %}
                <div ><img src="{{ object.thumbnail.url }}" alt="..." style = "margin-left:20px; margin-right:0px" width="340" height="400"></div>
            {% endif %}

        </div>
          <br>
       {% endfor %}
        <!-- Post        -->


      </div>
    </section>
    <!-- Divider Section-->
    <section style="background: url({% static '/img/divider-bg.jpg' %}); background-size: cover; background-position: center bottom" class="divider">
      <div class="container">
        <div class="row">
          <div class="col-md-7">
            <h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</h2>
              <a href="#" class="hero-link">View More</a>
          </div>
        </div>
      </div>
    </section>
    <!-- Latest Posts -->
    <section class="latest-posts"> 
      <div class="container">
        <header> 
          <h2>Latest from the blog</h2>
          <p class="text-big"> amet, consectetur adipisicing elit.</p>
        </header>
        <div class="row">
            {% for obj in latest %}
          <div class="post col-md-4">
            <div class="post-thumbnail"><a href="{{ obj.get_absolute_url }}"><img src="{{ obj.thumbnail.url }}" alt="..."  width="100%" height="auto"></a></div>
            <div class="post-details">
<!--              <div class="post-meta d-flex justify-content-between">-->
<!--                <div class="date">{{ obj.date_posted }}</div>-->
<!--                  {% for cat in obj.categories.all %}-->
<!--                 <div class="category">-->
<!--                     <a href="#">{{ cat.title }}</a></div>-->
<!--                </div>-->
<!--                {% endfor %}-->
                  <header class="post-header">
                  <div class="category">
                    {% for cat in obj.categories.all %}
                      <a href="{{ cat.get_absolute_url}}">{{ cat.title }}</a>
                    {% endfor %}
                  </div>
                    <h1 class="h4">{{ post.title }}</h1>
                </header>
                <a href="{{ obj.get_absolute_url }}">
                <h3 class="h4" >{{obj.title}}</h3></a>
                <p class="text-muted" ><a href="{{ obj.get_absolute_url }}">{{obj.content|linebreaks|truncatechars:150 }}</a></p>

                    <a href="{{ obj.get_absolute_url }}" class="btn btn-primary" style="margin:10px;">Continue Reading</a>

            </div>
          </div>
            {% endfor %}
        </div>
      </div>
    </section>
    <!-- Newsletter Section-->
    <section class="newsletter no-padding-top">    
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <h2>Subscribe to Newsletter</h2>
            <p class="text-big">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          </div>
          <div class="col-md-8">
            <div class="form-holder">
              <form action="." method="POST">
                  {% csrf_token%}
                <div class="form-group">
                  <input type="email" name="email" id="email" placeholder="Type your email address">
                  <button type="submit" class="submit">Subscribe</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Gallery Section-->
    <section class="gallery no-padding">    
      <div class="row">
        <div class="mix col-lg-3 col-md-3 col-sm-6">
          {% load static %}
          <div class="item"><a href="{% static 'img/gallery-1.jpg' %}" data-fancybox="gallery" class="image"><img src="{% static 'img/gallery-1.jpg' %}" alt="..." class="img-fluid">
              <div class="overlay d-flex align-items-center justify-content-center"><i class="icon-search"></i></div></a></div>
        </div>
        <div class="mix col-lg-3 col-md-3 col-sm-6">
          <div class="item"><a href="{% static 'img/gallery-2.jpg' %}" data-fancybox="gallery" class="image"><img src="{% static 'img/gallery-2.jpg' %}" alt="..." class="img-fluid">
              <div class="overlay d-flex align-items-center justify-content-center"><i class="icon-search"></i></div></a></div>
        </div>
        <div class="mix col-lg-3 col-md-3 col-sm-6">
          <div class="item"><a href="{% static 'img/gallery-3.jpg' %}" data-fancybox="gallery" class="image"><img src="{% static 'img/gallery-3.jpg' %}" alt="..." class="img-fluid">
              <div class="overlay d-flex align-items-center justify-content-center"><i class="icon-search"></i></div></a></div>
        </div>
        <div class="mix col-lg-3 col-md-3 col-sm-6">
          <div class="item"><a href="{% static 'img/gallery-4.jpg' %}" data-fancybox="gallery" class="image"><img src="{% static 'img/gallery-4.jpg' %}" alt="..." class="img-fluid">
              <div class="overlay d-flex align-items-center justify-content-center"><i class="icon-search"></i></div></a></div>
        </div>
      </div>
    </section>
    <!-- Page Footer-->
{% endblock body %}
