{% extends 'post_food/base.html'%}

{% load crispy_forms_tags %}
{% block body %}

<!------ Include the above in your HEAD tag ---------->
<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <div class="container">
          <div class="row">
              <div class="panel panel-default">
              <div class="panel-heading">  <h4 >User Profile</h4></div>
               <div class="panel-body">
              <div class="col-md-4 col-xs-12 col-sm-6 col-lg-4">
               <img alt="User Pic" src="{{ user.profile.profile_pic.url }}" id="profile-image1"  height="300" width="150" class="img-circle img-responsive">
              </div>
              <div class="col-md-8 col-xs-12 col-sm-6 col-lg-8" >
                  <div class="container" >
                    <!--<h2>{{ user.first_name }}  {{user.last_name}}</h2> -->
                    <p>an   <b> </b></p>


                  </div>
                   <hr>
                  <ul class="container details" >
                    <li><p><span class="glyphicon glyphicon-user one" style="width:50px;"></span>{{user.username}}</p></li>
                    <li><p><span class="glyphicon glyphicon-envelope one" style="width:50px;"></span>{{user.email}}</p></li>
                  </ul>
                  <hr>
              </div>
        </div>
    </div>
    </div>


     <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="'border-bottom mb-4">Details</legend>
            {{ u_form|crispy }}
            {{ p_form|crispy }}
        </fieldset>
        <div class="form-group">
            <button class="btn-outline-info" type="submit"> Update </button>
        </div>
    </form>
    </div>
{% endblock body %}